html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url("assets/images/nyc.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
